<!DOCTYPE html>
<html>

<head>
    <title>Image Upload</title>
</head>

<body>
    <h1>Image Upload</h1>
    <form action="segImage" method="post" enctype="multipart/form-data">
        <input type="file" name="image" accept="image/*" required>
        <br><br>
        <input type="submit" value="Segmenter">
    </form>
    <br>
    <form action="getWeights" method="post" enctype="multipart/form-data">
        <input type="file" name="image" accept="image/*" required>
        <br><br>
        <input type="submit" value="télécharger les poids">
    </form>
</body>

</html>